* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(168, 168, 168);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: rgba(134, 134, 134, 0.781);
  border: 2px solid rgb(179, 179, 179);
  box-shadow: 0 0 10px rgba(179, 179, 179, 0.479);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgba(238, 238, 238, 0.781);
}
